.container {
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-height: 650px;
  overflow-y: auto;
  width: 100%;
  height: 100%;
  background-color: white;
  padding: 20px;
  position: relative;
  border-radius: 8px;
  box-sizing: border-box;
}

.closeButton {
  position: absolute;
  top: 0;
  right: 0;
}

.textField {
  margin: 10px;
  width: 100%;
}

.button {
  margin: 10px
}